

<h1>OKです{{name}}</h1>

{{nums}}
{% for d in nums %}
aabb
<div>{{ d }}</div>
{% endfor %}

<style>
    tr{
        height:50px;
    }
    td{
        width: 200px;
    }

</style>
{% with data_count=rows|length %}
data_count {{ data_count }}
{% endwith %}
<table border="1">
    {% for row in rows %}

    <tr>
        <td>{{ forloop.counter|add:1000 }}</td>
        {% for col in row %}
            <td>{{col}}</td>
        {% endfor %}
        
    </tr>
    {% endfor %}

</table>
