

<h1>{{name}}さん</h1>

{{nums}}
<br>

{% for d in nums %}
    <p>
        No
        {{ forloop.counter }}
        {{ d }}
    </p>
{% endfor %}

<style>
    tr{
        height:50px;
    }
    td{
        width: 200px;
    }

</style>

データ長を表示
{% with data_count=rows|length %}
    data_count= {{ data_count }}
{% endwith %}


<table border="1">

    {% for row in rows %}
        <tr>
            <td>{{ forloop.counter |add:1000 }}</td>
            {% for col in row %}
                <td>{{col}}</td>
            {% endfor %}
        </tr>
    {% endfor %}

</table>
